doctype html
html
    head
        title Imagenes
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/styles.css')
    body
        .stickyBtn
            a(href="/")
                button <- Regresar
        .areaHist
            if imagenes.length > 0
                .histImgSub
                    h2 Imagen Subida
                    each imagen in imagenes
                        .ImgSubInd
                            img(id='imagenSub', src='data:' + imagen.tipoImgSinConv + ';base64,' + imagen.b64ImgSinConv, alt=imagen.descripcion)
                            p Formato: #{imagen.tipoImgSinConv}
                            p Nombre: #{imagen.nomImgSinConv}
                            p Fecha de Subida: #{imagen.fechaYHora}
                .histImgDes
                    h2 Imagen Descargada
                    each imagen in imagenes
                        .ImgDesInd
                            img(id='imagenDes', src='data:' + imagen.tipoImgConv + ';base64,' + imagen.b64ImgConv, alt=imagen.descripcion)
                            p Formato: #{imagen.tipoImgConv}
                            p Nombre: #{imagen.nomImgConv}
                            p Fecha de Descarga: #{imagen.fechaYHora}    
            else
                p No tiene imagenes subidas en su cuenta